//VARIABLES
$color-primary: #23575a;
$color-primary-dark: #164949;

$color-grey: #4c4c4c;

$color-white: #e0e0e0;

//basic reset

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}
