.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s;
  }

  &--white {
    border: solid 3px #4c4c4c;
    color: #4c4c4c;
    padding: 1rem 4.5rem;
    font-size: 1.8rem;
    border-radius: 10rem;

    &:hover {
      color: #23575a;
      border-color: #23575a;
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    }
  }

  &--green {
    border: solid 3px #23575a;
    color: white;
    padding: 1rem 4.5rem;
    background-color: #23575a;
    font-size: 1.8rem;
    border-radius: 10rem;

    &:hover {
      background-color: #164949;
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    }
  }

  &--bigw {
    border: solid 3px #23575a;
    background-color: white;
    color: #4c4c4c;
    padding: 1.8rem 8.5rem;
    font-size: 2.8rem;
    border-radius: 10rem;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    }
  }

  &--bigg {
    border: solid 3px #23575a;
    background-color: #23575a;
    color: white;
    padding: 1.8rem 8.5rem;
    font-size: 2.8rem;
    margin-top: 3rem;
    border-radius: 10rem;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    }
  }

  &--sqare {
    border: solid 3px #23575a;
    color: white;
    padding: 1.2rem 0;
    background-color: #23575a;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    width: 21rem;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    }
  }

  &--reveal {
    border: solid 3px #23575a;
    color: white;
    padding: .5rem;
    background-color: #23575a;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    width: 18rem;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    }
  }

  &--edit {
      padding: 0.5rem 1.8rem;
      font-weight: 400;
      font-size: 1.6rem;
      border: solid 3px #4c4c4c;
      border-radius: 0.5rem;
      background-color: #4c4c4c;
      color: white;
      cursor: pointer;
      margin-right: 2rem;
  
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
      }
  }

  &--delete {
    padding: 0.5rem 1.8rem;
    font-weight: 400;
    font-size: 1.6rem;
    border: solid 3px #c64d2e;
    border-radius: 0.5rem;
    background-color: #c64d2e;
    color: white;
    cursor: pointer;
    margin-right: 2rem;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    }
}

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.3rem 0.6rem rgba(#000, 0.2);
  }
}
