.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 8rem;  

  &__text {
    color: #4c4c4c;
    font-weight: 400;
    font-size: 1.8rem;
  }
}
