.logout {
    position: absolute;
    top: 5rem;
    right: 3.5rem;

    @media only screen and (max-width: 68.75em) { // 1100px
        top: 4.5rem;
        right: 1%;
      }

      @media only screen and (max-width: 37.5em) {
        // 600px
        top: 13rem;
        right: 50%;
        transform: translateX(50%);
        
      }

      
}