.pw_prompt {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  padding: 2rem;
  width: 30rem;
  background-color: #4c4c4c;
  color: white;
  font-weight: 400;
  font-size: 1.7rem;
  text-align: center;
}

.pw_prompt label {
  display: block;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
.pw_prompt input {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border-style: hidden;
  height: 3rem;
  width: 26rem;
  outline: none;
}
.pw_prompt button {
  position: relative;
  margin: 1rem 1.5rem;
  border-style: hidden;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #4c4c4c;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: white;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.3rem 0.6rem rgba(#000, 0.2);
  }
}
