.search {
  display: flex;
 
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin: 4rem 2rem;

  @media only screen and (max-width: 37.5em) {
    // 600px
    margin: 10rem 2rem;
    
  }

  @media only screen and (max-width: 68.75em) { // 1100px
    flex-direction: column-reverse;
    justify-content: center;
  }

  &__bar {
    width: 78%;
    height: 5.2rem;
    border: 3px solid#4c4c4c;
    border-radius: 8px;
    margin: 0.8rem 0 0.8rem 0.8rem;
    font-size: 3.2rem;
    color: #4c4c4c;
    padding-left: 2rem;
    outline: none;
    transition: all .2s;

    @media only screen and (max-width: 68.75em) { // 1100px
      width: 90%;
    }

    &:focus {
        outline: none;
        transform: scale(1.03);
        background-color: #e0e0e015;
      }
  }

  &__btn {

    margin: 4rem 3rem;
  }
}
