{% extends "base.html" %} {% block title %} Index {% endblock %} {% block main
%}
<script>
  const clmT = "{{ dataR }}";
</script>

<div class="logout">
  <a class="btn btn--white" href="/logout">SIGN OUT</a>
</div>

<div class="search">
  <div class="search__btn">
    <button id="add-entry" class="btn btn--sqare">ADD NEW ENTRY</button>
  </div>

  <input
    class="search__bar"
    type="text"
    id="mySearch"
    onkeyup="searchFunc()"
    placeholder="search"
    autocomplete="off"
  />
</div>

<form class="entry is-hidden" id="formElem" action="/" method="post">
  <div class="entry__forms">
    <input
      class="entry__input"
      id="name"
      autocomplete="off"
      type="text"
      name="Website Name"
      placeholder="Website Name"
      required
    />
    <input
      class="entry__input"
      id="link"
      autocomplete="off"
      type="text"
      name="link"
      placeholder="Link"
    />
    <input
      class="entry__input"
      id="username"
      autocomplete="off"
      type="text"
      name="username"
      placeholder="Username"
      required
    />
    <input
      class="entry__input in-edit"
      id="password"
      autocomplete="off"
      type="text"
      required
      name="password"
      placeholder="Password"
    />
    <div class="entry__error" id="passError"></div>
  </div>

  <div class="entry__buttons">
    <a id="generator" class="entry__generate is-hidden">GENERATE NEW PASSWORD</a>
    <input class="entry__submit" id="submit" type="submit" value="SAVE" />
  </div>
</form>


{% if dataFromFlask %}

<div class="list">
  <h1>My List</h1>
  <table id="list__table">
    <thead class="list__head">
      <tr>
        <th>Website Name</th>
        <th>Link</th>
        <th>Username</th>
        <th>Password</th>
        <th class="is-hidden">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody class="list__body">
      {% for i in dataFromFlask %}
      <tr>
        <td class="name-search" data-entry-id="{{ i['id'] }}">
          {{ i['name'] }}
        </td>
        <td class="link-search">
          <a class="link-search" target="_blank" href="{{ i['link'] }}"
            >{{ i['link'] }}</a
          >
        </td>
        <td class="username-td"><p>{{ i['username'] }}</p></td>
        <td class="password-td">
          <button class="reveal-button" onclick="htmlActivate(this)">
            REVEAL PASSWORD
            <p class="is-hidden">{{ i['hash'] }}</p>
          </button>
        </td>
        <td class="buttons-e-d">
          <button class="edit-button" onclick="editOnClick(this)">EDIT</button
          ><button class="delete-button" onclick="deleteOnClick(this)">
            DELETE
          </button>

          <button class="cancel-button is-hidden" onclick="cancelOnClick(this)">
            CANCEL
          </button>
          <button
            onclick="generatePassword2(this)"
            id="generator2"
            class="generate-button is-hidden"
          >
            GENERATE NEW PASSWORD
          </button>
          <button class="save-button is-hidden" onclick="saveOnlclick(this)">
            SAVE
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="{{ url_for('static', filename='js/crypt.js') }}"></script>
<script src="{{ url_for('static', filename='js/passgen.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttonsFuncs.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="{{ url_for('static', filename='js/popup.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
