{% extends 'base.html' %} {% block title %} Login {% endblock %} {% block main
%}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
    <div class="error-bar">
      <p>{{ message }}</p>
    </div>
    {% endfor %}
    
  {% endif %}
{% endwith %}

{{ message }}

<div class="login">
  <form action="/login" method="post">
    <h1 class="login__header">Welcome Back!</h1>
    <div>
      <input
        class="login__input"
        type="text"
        name="username"
        placeholder="Username"
        autocomplete="off"
        required
      />
    </div>
    <div>
      <input
        class="login__input"
        id="passwordField"
        type="password"
        required
        name="password"
        placeholder="Password"
        autocomplete="off"
      />
    </div>
    <div>
      <input class="btn" type="submit" value="SIGN IN" />
    </div>
  </form>
</div>

{% endblock %}
